<div id="btn-editores" class="w-[30%] h-full items-center flex justify-around">
        <button>Nuevo</button>
        <button>Editar</button>
        <button>Eliminar</button>
        <button>Salir</button>
    </div>

    <style>
        #btn-editores > button {
        background-color: white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        margin-top: 5px;
        border: 1px solid black;
    }
    </style>