---
const {name, precio} = Astro.props
---

<article class="w-full h-[50px] border my-1 grid grid-col-10">
        <img src="#" alt="item" class="col-start-1 col-end-4">
        <h3 class="row-start-4 row-end-7">{name}</h3>x
        <h3 class="col-start6 col-end-8">{precio}</h3>
        <span class="px-2 col-start-9 col-end-10 ">+</span>
        <span class="px-2 col-start-10 col-end-11 ">-</span>
            
</article>