<main class="w-[97%] h-[97%] rounded-2xl grid grid-cols-10 grid-rows-10 bg-[#ffffffb4]">
    <header class="col-start-1 col-end-11 row-start-1 row-end-2 w-full flex justify-between items-center px-4 ">
        <div>
            <img src="../../public//gals_logo_200px.webp" alt="Logo" class="">
        </div>
        <h1 class="font-bold text-[3rem]">Administrador/publico</h1>
        <div id="btn-editores" class="w-[30%] h-full items-center flex justify-around">
            <button>btn</button>
            <button>btn</button>
            <button>btn</button>
        </div>
    </header>
    <nav class="col-start-1 col-end-11 row-start-2 row-end-3 w-full flex justify-around items-center ">
        <a href="#"><boton>Option</boton></a>
        <a href="#"><boton>Option</boton></a>
        <a href="#"><boton>Option</boton></a>
        <a href="#"><boton>Option</boton></a>
        <a href="#"><boton>Option</boton></a>
    </nav>
    <section id="contein" class="row-start-3 row-end-11 col-start-3 col-end-11 grid justify-center grid-cols-[repeat(auto_fit(minmax(250px, 1fr)))] p-3 border">
        contenido
    </section>
    <section id="carrito" class="row-start-3 row-end-11 col-start-1 col-end-3 grid justify-center p-3 border grid-cols-2 grid-rows-10">
        <section class=" flex justify-around col-start-1 col-end-3 row-start-1 row-end-2 border">
            <h4>opcion</h4>
            <h4>opcion</h4>
        </section>
        <div class="w-full h-[90%] border col-start-1 col-end-3 row-start-2 row-end-11">
            contenido
        </div>
    </section>
</main>

<style>
    main{
        backdrop-filter: blur(20px);
    }

    #btn-editores > button {
        background-color: white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        margin-top: 5px;
    }

</style>