---
import LateralItems from "./Items/LateralItems.astro"
import {CarItems} from '../api/Carrito'

const items = CarItems();

---

    <div class="w-full h-full justify-center p-2 overflow-y-auto gap-2 hidden">
        <section class="border">q</section>
    </div>
    <div class="w-full h-full justify-center p-2 overflow-y-auto gap-2">
        {items.map( item => 
            <LateralItems {...item}></LateralItems>
        )}

    </div>