<main class="w-[1010px] h-[550px]  flex  border rounded-2xl text-[1.3rem] relative">
    <section class="w-[550px] h-[550px] rounded-2xl grid  place-items-center ">
        <h2 class="text-[3rem]  font-bold">Login</h2>
        <form action="sumbit">
            <h3 class="w-[50%] font-semibold m-1">Usuario</h3>
            <input type="text" name="user" id="user" placeholder="In user" class="W-full border rounded-2xl p-2 justify-center">
            <h3 class="w-[50%] font-semibold m-1">Clave</h3>
            <input type="password" name="clave" id="clave" placeholder="clave" class="W-full border rounded-2xl p-2 justify-center">
        </form>
        
        <button class="border w-[130px] h-[40px] justify-center rounded-2xl bg-[#41c3d4]">INGRESAR</button>
    </section>
    <section class="w-[550px] h-[550px] rounded-2xl grid  place-items-center py-[3vh]">
        <h2 class="text-[3rem]  font-bold">Registrar</h2>
        <form action="sumbit">
            <h3 class="w-[50%] font-semibold m-1">Usuario</h3>
            <input type="text" name="user" id="user" placeholder="In user" class="W-full border rounded-2xl p-2 justify-center">
            <h3 class="w-[50%] font-semibold m-1">Email</h3>
            <input type="email" name="email" id="email" placeholder="In email" class="W-full border rounded-2xl p-2 justify-center">
            <h3 class="w-[50%] font-semibold m-1">Clave</h3>
            <input type="password" name="clave" id="clave" placeholder="clave" class="W-full border rounded-2xl p-2 justify-center">
        </form>
        
        <button class="border w-[130px] h-[40px] justify-center rounded-2xl bg-[#41c3d4]">REGISTRAR</button>
    </section>
</main>

<style>
    main{
        backdrop-filter: blur(10px);
    }
</style>