---
import Header from "../components/Header.astro"
import HeaderCliente from '../components/Items/HeaderCliente.astro'
---

<main class="w-[97%] h-[97%] rounded-2xl grid grid-cols-10 grid-rows-10 bg-[#ffffffb4]">
    <header class="col-start-1 col-end-11 row-start-1 row-end-2 w-full flex justify-between items-center px-4 ">
        <Header title="Cliente">
            <HeaderCliente></HeaderCliente>
        </Header>
    </header>
    <nav class="col-start-1 col-end-11 row-start-2 row-end-3 w-full flex justify-around items-center">
        <a href="#"><boton>All productos</boton></a>
        <a href="#"><boton>Buscador</boton></a>
        <a href="#"><boton>valance</boton></a>
        <a href="#"><boton>Clientes</boton></a>
        <a href="#"><boton>Vendedores</boton></a>
    </nav>
    <section id="contein" class="col-start-1 col-end-11 row-start-3 row-end-11  grid justify-center grid-cols-[repeat(auto_fit(minmax(250px, 1fr)))] p-3 border">
        contenido
    </section>
</main>

<style>
    main{
        backdrop-filter: blur(20px);
    }
</style>